<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Online Sudoku Solver</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag params[:controller], media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] %>
    <%= csrf_meta_tags %>
  </head>

  <body class="container-fluid">
    <%= yield %>
    <hr />
    <center>
      <ul class="inline">
        <li><p class="muted"><small><em>A small demo written by Neal Patel.</em></small></p></li>
        <li><small><em><%= link_to 'Source Code', 'https://github.com/nealp9084/sudoku_base' %></em></small></li>
      </ul>
    </center>
  </body>
</html>
